@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: transparent;
  }
  body {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'tnum';
    user-select: none;
    cursor: default;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
